// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  border-style: dashed;
  background-color: #0099ff
}
h2{
  color: #ffcc66; 
  border-style: double;
}
h3{
  color: green
}
h4{
  color: blue
}
